
.foot{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3f3f3f;
    color: white;
    padding: 10px;
}

.foot-header{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: large;
    padding-bottom: 5px;
    position: relative;
}


.foot-header::after {
    background-color: #efefef; 
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 5%;
    position: absolute;
    transform: translate(-50%,0);
    width: 50px;
}

.foot-content{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: medium;
}

.lnk-wht{
    color: white;
    text-decoration: none;
}

.upper-foot{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#lower-foot{
    display: flex;
    padding: 5px;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    justify-content: space-around;
    align-items: center;
    border-top: 0.3px dashed rgba(255, 255, 255, 1);
}
.icons{
    font-size: x-large;
    padding: 5px;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 600px) {
    #lower-foot{
      flex-direction: column;
    }
    #social{
        border-bottom: 0.3px dashed rgba(255, 255, 255, 1);
    }
  }
  @media only screen and (max-width: 950px) {
    .upper-foot{
        flex-direction: column;
      }
<<<<<<< HEAD
    }
=======
  }




  .header {
    background-color: white;
    height: 140px;
    }
    
    .logo {
    width: 460px;
    height: 130px;
    }
    .navcolor {
        background-color: dodgerblue;
    }
    .navi{
        margin-right: 10px;
    }
    #navi{
        margin-left: 50px;
    }
    .parent{
      position: relative;
      z-index: 2;
      margin-bottom: -30px;

    }

    @media only screen and (max-width: 960px) {
        .parent {
         margin-bottom: 0px;
        }
      }
    .child{
      position: absolute;
      z-index: 1;
      top:170px;
    }
    
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      
    }
    .sticky li{
        padding-left: 30px;
    }

    .sticky + .content {
      padding-top: 60px;
    }     
    .responsive-iframe{
      position: absolute;
      top: 30;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 80%;
      border: none;
    }   
    @media only screen and (max-width: 600px){
      .responsive-iframe{
        height:150%;
      }
    }
    .box {
      transition: box-shadow .3s;
      width: 100%;
      height: 500px;
      margin: 5px;
      border-radius:10px;
      
      background: #fff;
      
    }
    .box:hover {
      box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
    @media only screen and (max-width: 1000px){
      .box{
        overflow: auto;
      }
    }
>>>>>>> d7bf062812b259db4fedce0160a8097270203aef
