{% extends "layout.html"%}
{% block title %} Contact | SIC Almora {% endblock%}

{% block content %}

<div class="parallax">
    <h1 id="header">CONTACT US</h1>
    <p class="text-center contact_parallax_text"><a class="contact_parallax_text" href="/">HOME</a>&emsp;/&emsp;CONTACT US</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="postel-address">
                <h4>Postal Address</h4>
                <hr class="postal_hr">
                <p class="postal_address_body">
                    SARVODAY INTER COLLEGE JAYANTI<br>
                    Affiliated to UK Board, Ramnagar<br>
                    ALMORA, JAINTIA HILLS<br>
                    UTTARAKHAND, INDIA<br>
                <p class="contact_para_color">Contact Number : </p> +91 9897783243<br>  
                <p class="contact_para_color">E-Mail : </p> sicjainti9@gmail.com
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 feedback">
            <h5>Enquiry / Feedback Form</h5>
            <p>Kindly fill the form below</p>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-6">
                        <input class="form-control" placeholder="Name" type="text" id="txtName" />
                    </div>
                    <div class="col-xs-6">
                        <input class="form-control" placeholder="Email" type="email" id="txtEmail" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <input class="form-control" placeholder="Subject" type="text" id="txtSubject" />
                    </div>
                    <div class="col-xs-6">
                        <input class="form-control" placeholder="Mobile" type="text" id="txtMobile" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <textarea class="form-control" id="txtMessage" rows="5" placeholder="Message"></textarea> 
                    </div>
                </div>
                <div class="form-group button">
                    <button type="submit" class="btn btn-dark">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}