<html>
    <head>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>

        <!-- Footer starts here -->
        <footer class="bg-dark text-white">

            <div style="background-color: rgb(65, 64, 64);" class="d-flex justify-content-around flex-wrap p-4">
                <div class="">
                    <div class="h-50">
                        <h4>Quick Links</h4>
                        <div style="opacity: 0.7;" class="d-flex flex-row justify-content-around">
                            <div>
                                <a class="text-decoration-none text-white" href="#"><p>Syllabus</p></a>
                                <a class="text-decoration-none text-white" href="#"><p>Syllabus</p></a>
                                <a class="text-decoration-none text-white" href="#"><p>Syllabus</p></a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-white" href="#"><p>Syllabus</p></a>
                                <a class="text-decoration-none text-white" href="#"><p>Syllabus</p></a>
                                <a class="text-decoration-none text-white" href="#"><p>Syllabus</p></a>
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="h-50">
                        <h4>Important Links</h4>
                        <div style="opacity: 0.7;">
                            <a class="text-decoration-none text-white" href="#"><p>CBSE</p></a>
                            <a class="text-decoration-none text-white" href=""><p>Uttarakhand Board</p></a>
                        </div>
                    </div>
                </div>
                <div class="w-25">
                    <h4>Contact Us</h4>
                    <div style="opacity: 0.7;">
                        <strong style="display: block;">Call</strong>
                        <a class="text-decoration-none text-white" href="tel: xxxxx-xxxxx"><i class="fas fa-phone-square-alt"></i> xxxxx-xxxxx</a>
                        <strong style="display: block;">E-Mail</strong>
                        <a class="text-decoration-none text-white" href="mailto:example@mail.com"><i class="fas fa-envelope"></i> example@mail.com</a>
                    </div>
                </div>
                <div class="w-25">
                    <h4>Find Us</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3473.0412336420127!2d79.82359609990192!3d29.48599491130689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a0c153be732d4b%3A0xefa37596e4253511!2sJainti%20Govt.%20Degree%20College!5e0!3m2!1sen!2sin!4v1590266588770!5m2!1sen!2sin"></iframe>
                    </div>

                </div>
            </div>

            <div class="d-flex justify-content-around align-items-center flex-wrap">
                <div class="mx-5 px-4 text-center">
                    <p class="align-items-end mb-0">Connect With Us</p>
                    <div class="text-center d-md-inline">
                        <i class="fab fa-google-plus-square icons"></i>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                </div>
                <div class="mx-5 px-4 text-monospace text-center">
                    <p class="mb-0">© Sarvoday Inter College, Jayanti</p>
                    <p>All Rights Reserved</p>
                </div>
            </div>
        </footer>
    </body>
</html>