{% extends "index.html"%}
{% block title %} Gallery | SIC {% endblock%}
{% block content %}
    <div class="container">
      <div class="card img-fluid mt-5" style="width:20rem;">
        <img class="card-img-top" src="static/images/background.png" alt="Background" style="width:100%; opacity: 80%;">
        <div class="card-img-overlay card-center pt-5">            
          <a href="/background"  class="btn"><h4 class="card-title text-center card-center pl-4">BACKGROUND</h4></a>
        </div>
      </div>
    </div>
{% endblock%}